{% for group in groups %}
    <tr>
    	<td>{{ group.id }}</td>
		<td>{{ group.owner.name }}</td>
        <td></td>
		<td>
			<input type="hidden" name="users[]" value="{{ group.id }}" />
	        <button type="button" 
	            class="close pull-right" 
	            aria-hidden="true" 
	            class="" 
	            data-request-data="removeUser: {{ user.id }}"
	            data-request-success="$($el).closest('tr').remove()"
	            data-request="onDelete" data-request-confirm="Are you sure?">&times;</button>
	    </td>
    </tr>
{% endfor %}