subject = "Welcome to DMA Friends"
==
Congratulations {{ first_name }}!  You’re our newest DMA Friend.  

DMA Friends rewards you for enjoying activities at the Museum.  
View art in our galleries, visit special exhibitions, and participate 
in programs.  Collect points when you engage in these activities, 
then redeem your points for special rewards like free parking or exclusive tours!
Log in at home to view your DMA Friend account: friends.dma.org. 

Need help getting started?  Email friends@DMA.org

