.table-result {
	margin: 20px 0; 	
}

#user-form {
	position: relative;
}

ul#autocomplete {
	position: absolute;
	-webkit-box-shadow: 0px 10px 70px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 70px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 70px -6px rgba(0,0,0,0.75);
}
	ul#autocomplete li {
		display:block;
		cursor:pointer;
	}
	
	ul#autocomplete li:hover {
		background: #F5F5F5;
	}