<div
    {% if class %}
        class="{{ class }}"
    {% endif %}
>
    <div class="friends-badge preview">
        {% if model.userCount > 1 %}
        <div class="times-earned">
            x{{ model.userCount }}
        </div>
        {% endif %}

        {% if model.image.getPath() %}
        <img src="{{ model.image.getPath() }}"/>
        {% endif %}

        <h4>{{ model.title }}</h4>

        <div class="earned-info">
            {{ model.points }} Points / {{ model.steps|length }} Steps
        </div>
        <div class="description">
            {{ model.excerpt|raw }}
        </div>
        <div class="earned">
            {{ model.timeAgo }}
        </div>
    </div>
</div>
