<div class="col-md-12 col-sm-12">
    <div class="friends-reward preview">

        <div class="image">
            {% if reward.image.getPath() %}
            <img src="{{ reward.image.getThumb(130, 180) }}"/>
            {% endif %}
        </div>
        <div class="description col-md-5 col-sm-5">
            
            <h4>{{ reward.title }}</h4>
            {{ reward.excerpt|raw }}
            
        </div>

        <div class="claim col-md-4">
            <p>Claim for</p>
            <button class="btn btn-primary" data-request="onRedeem" data-request-data="id: {{ reward.id }}">{{ reward.pointsFormatted }} points</a>
        </div>

    </div>
</div>
