<div class="col-md-12 col-sm-12">
    <div class="friends-reward preview">
        {% if reward.inventory > 0 %}
        <span class="special limited">Limited</span>
        {% endif %}
        
        <div class="image">
            {% if reward.image.getThumb(130, 180, {'extension': 'png'}) %}
            <a href="#" 
                data-control="popup" 
                data-handler="onRedeemModal" 
                data-request-data="id: {{ reward.id }}"
            >
                <img src="{{ reward.image.getThumb(130, 180, {'extension': 'png'}) }}"/>
            </a>
            {% endif %}
        </div>
        <div class="description col-md-5 col-sm-5">
            
            <h4>
                <a href="#" 
                    data-control="popup" 
                    data-handler="onRedeemModal" 
                    data-request-data="id: {{ reward.id }}"
                >
                    {{ reward.title }}
                </a>
            </h4>
            <a href="#" 
                data-control="popup" 
                data-handler="onRedeemModal" 
                data-request-data="id: {{ reward.id }}"
            >
                {{ reward.excerpt|raw }}
            </a>
            
        </div>
        <div class="claim col-md-4">
            {% if user.points >= reward.points %}
            <p>Claim for</p>
            <button class="btn btn-primary" 
                data-control="popup" 
                data-handler="onRedeemModal" 
                data-request-data="id: {{ reward.id }}"
            >{{ reward.pointsFormatted }} points</button>
            {% else %}
            <button class="btn btn-default redeem"
                data-control="popup" 
                data-handler="onRedeemModal" 
                data-request-data="id: {{ reward.id }}"
            >You need {{ reward.pointsFormatted }} points</button>
            {% endif %}
            </div>

    </div>
</div>
