.report-widget.date-picker ul,
.report-widget.date-picker ul li {
    display: inline;
}

.report-widget.date-picker ul {
    margin-top: -11px;
    margin-left: -50px;
    float: left;
}

.report-widget.date-picker ul li {
    padding: 0 10px;
}

#date-picker {
    display: inline;
}
#date-picker input {
    width: 90px;
    height: 37px;
}

.date-range.active {
    color: #7e8c8d;
}