For security, please enter your password to remain logged in.
You will automatically be logged out for inactivity in <span class="time"></span> seconds.

<form id="stay-logged-in">
    <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" />
    </div>
    
    <a role="button" class="timeout-logged-in btn btn-info" data-request="onStayLoggedIn">Stay logged in</a>
    <a role="button" class="timeout-logout btn btn-default" data-request="onLogout">Logout</a>
</form>

<script type="text/javascript">
$(document).trigger('modal.open');
</script>