{{ form_ajax('onGroupAction', { class : 'form-horizontal', update: { '@flashMessages': '#flashMessages', 'GroupManager::groups-list': '#owner_group_result' } } ) }} 

      <div class="input-group">
      	  <input type="hidden" name="step" value="{{ step }}" />
          <input type="text" class="form-control" placeholder="Type here the name of your Friends Group" name="name" >
          <span class="input-group-btn">
              <button type="submit" class="btn btn-default" >Create</button>
          </span>
      </div>

{{ form_close() }}

{% partial '@groups-list' %}
