<div class="col-xs-12 col-md-12">
	<div class="pull-left">
			<h3> 
		<a 	href="#" class="btn btn-default" 
		data-request="onGoToStep"
	 	data-request-data="step: '@groups-manager'">
	 	Back</a>
	 	 	
Group: {{ group.name }}</h3>
	</div>
	{% if use_code %}
	<h3 class="lead pull-right">
		Code: {{ group.code }}
	</h3>
	{% endif %}
</div>

{{ form_ajax('onGroupAction', { class : 'form-horizontal', update: { '@flashMessages': '#flashMessages', 'GroupManager::members-list': '#result' } } ) }} 

      <div class="input-group">
      	  <input type="hidden" name="step"    value="{{ step }}" />
      	  <input type="hidden" name="groupId" value="{{ group.id }}" />
          <input type="text" class="form-control" placeholder="Type username of a friend you wish to invite" name="username" >
          <span class="input-group-btn">
              <button type="submit" class="btn btn-default" >Invite</button>
          </span>
      </div>

{{ form_close() }}

{% partial "@members-list" %}