<div class="report-widget">
    <div class="scoreboard-item title-value">
        <h4>Total Friends</h4>
        <p><?php print $numFriends ?></p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>Today</h4>
        <p><?php print $todayFriends ?></p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>Average Per Day</h4>
        <p><?php print $averageFriends; ?></p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>This week</h4>
        <p><?php print $weekFriends ?></p>
    </div>

    <div class="scoreboard-item title-value">
        <h4>% Email Opt-In</h4>
        <p><?php print $optinFriends ?></p>
    </div>

    <div class="clearfix"></div>
</div>
