<form id="user-profile" class="row">
    <div class="col-md-6 col-sm-6">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="metadata[first_name]" class="form-control" value="{{ user.metadata.first_name }}" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="metadata[last_name]" class="form-control"  value="{{ user.metadata.last_name }}"/>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control"  value="{{ user.email }}"/>
        </div>

        <div class="form-group">
            <a href="#" data-control="popup" data-handler="onPassword">Change Password</a>
        </div>

         <div class="form-group">
            <label>
                <input type="checkbox" name="metadata[email_optin]" value="1" 
                {% if user.metadata.email_optin %}
                    checked="checked"
                {% endif %}
                /> Email Opt-in
            </label>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">

        <div class="form-group">
            <label>Street Address</label>
            <input type="text" name="street_addr" class="form-control"  value="{{ user.street_addr }}"/>
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" name="city" class="form-control"  value="{{ user.city }}"/>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>State</label>
                <select
                    id="state"
                    name="state"
                    class="form-control custom-select">

                    {% for state in states %}
                        <option
                        {% if state.id == user.state.id %}
                        selected="selected"
                        {% endif %}
                        value="{{ state.id }}">
                        {{state.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-6">
                <label>Zipcode</label>
                <input type="text" name="zip" class="form-control"  value="{{ user.zip }}"/>
            </div>
        </div>

        <div class="form-group text-field">
            <label>Phone</label>
            <input type="text" name="phone" value="{{ user.phone }}" class="form-control"/>   
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <button type="submit" data-request="onSave" class="btn btn-primary">Save</button>
    </div>
</form>