{{ form_ajax('onJoinGroup', { class : 'form-horizontal', update: { '@flashMessages': '#flashMessages', 'GroupJoinCodeForm::groups-list': '#join_group_result' } } ) }} 

    <div class="input-group">
          <input type="text" id="input-code" class="form-control" value="" name="code"     
          placeholder="Type group {{ using_code }}"> 
          <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">join</button>
          </span>
    </div>

{{ form_close() }}

<div id="view"> 
	{% partial '@groups-list' %}
</div>

